
html { 
    background-color: rgb(46, 46, 46);
    color: rgb(199, 199, 179);
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    /* margin-right: 50px; */
    /*
    background: url(earthporn-0oum43a878t41.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

a {
    color: rgb(255, 255, 212);
}

/* div.header {
      opacity: 1;
} */

/* div {
      opacity: 0.9;
} */

P {
    opacity: 0.8;
}

